{% extends "hyp/layout.html" %}
{% block content %}
  <h1>API Keys</h1>

  <h2>Create API Key</h2>
  <p>
    Generate a new API key. <strong>All other API keys will be deactivated.</strong>
  </p>

  <form action="{% url 'rotate_api_key' %}" method="post">
    {% csrf_token %}
    <label for="api_key_label">Label:</label><br>
    <input type="text" id="api_key_label" name="api_key_label"><br>
    <input type="submit" value="Create">
  </form>

  <ul class="api-key-list">
  {% for api_key in api_keys %}
    <li>
      <p>
        <span>
          {{ api_key.description }}
        </span>
      </p>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
