@import "variables";
@import "mixins";

.apiKeyList {
  @include flexbox-container(column, flex-start);
}

.apiKeyList-newApiKeyButton {
  margin: 2em 0;
  @include primary-button;
}

.apiKeyList-listItem {
  @include card($height: 120px, $width: 90%);
  @include non-clickable;
  @include flexbox-container(column, flex-start);
}

.apiKeyList-deleteListItem {
  margin: 0 0 0 1em;
  display: inline;

  button {
    border: none;
    background-color: transparent;
    font-size: 0.6em;
    position: relative;
    right: 1.5em;
    bottom: 0.1em;
  }
}
