@import "variables";
@import "mixins";

#api-key-list {
  @include container(column, flex-start);

  #new-api-key {
    margin: 2em 0;

    .button-primary {
      @include primary-button;
    }
  }

  #spacer {
    margin: 2em 0;
  }

  .list-item {
    @include card(120px, 90%);
    @include container(row, flex-start);
    @include non-clickable;

    .api-key-description {
      @include container(column, flex-start);

      h5 {
        form {
          margin: 0 0 0 1em;
          display: inline;

          button {
            border: none;
            background-color: transparent;
            font-size: 0.6em;
            position: relative;
            right: 1.5em;
            bottom: 0.1em;
          }
        }
      }
    }
  }
}
