@import "variables";
@import "mixins";

#api-key-list {
  @include container(column, flex-start);

  .header {
    @include header(90%);
  }

  #new-api-key {
    margin: 2em 0;

    .button-primary {
      @include primary-button;
    }
  }

  #spacer {
    margin: 2em 0;
  }

  .list-item {
    @include card(120px, 90%);
    @include container(row, flex-start);
    @include non-clickable;

    .api-key-description {
      @include container(column, flex-start);

      h5 {
        vertical-align: middle;
        form {
          margin: 0;
          display: inline;

          button {
            border: none;
            font-size: 0.67em;
          }
        }
      }
    }
  }
}
