@import "api_key_list";
@import "experiment_dashboard";
@import "experiment_list";
@import "home";
@import "mixins";
@import "navigation";
@import "settings";
@import "sign_up";
@import "superadmin";
@import "utils";
@import "variables";

@font-face {
  font-family: "Karrik";
  src: url("../fonts/KarrikRegular.woff") format("woff");
  font-display: block;
}

body {
  font-family: "Karrik";
  background-color: $black;
  color: $white;
  line-height: 1.2em;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-weight: 300;
}

h1:first-child, h2:first-child {
  margin-top: 2em;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $white;
  &:visited {
    color: $white;
  }
}

i {
  color: $tang;
}
