@import "mixins";
@import "variables";

#auth-form {
  margin: 8em auto 0 auto;
  width: 50%;

  input, button {
    width: 50%;
  }

  #hyp-logo {
    @include container(row)

    margin-left: 40%;

    #hyp-lightning-bolt {
      @include logo;
    }

    h5 {
      color: $white;
    }
  }

  #sign-up {
    display: block;
    margin-top: 1em;
  }
}
