@import "mixins";
@import "variables";

#auth-form {
  margin: 8em auto 0 auto;
  width: 50%;

  input, button {
    width: 50%;

    @media (max-width: $mobile-width) {
      width: 80%;
    }
  }

  #hyp-logo {
    @include container(row, $justify-content: center)

    #hyp-lightning-bolt {
      @include lightning-bolt;
    }

    h5 {
      color: $white;

      @media (max-width: $mobile-width) {
        font-size: 2em;
      }
    }
  }

  #sign-up {
    display: block;
    margin-top: 1em;
  }
}
