@import "variables";
@import "mixins";

#experiment-dashboard {
  .header {
    @include header;
  }

  .row {
    @include container(row);

    #total-interactions, #uncertainty {
      @include card(auto, 50%);
    }
  }

  #variants {
    @include container(row);

    .variant-details {
      @include card(auto, 33%);
    }
  }

  #experiment-chart {
    width: 100%;
    height: 500px;
    margin-bottom: 2em;
  }
}
