@import "variables";
@import "mixins";

#experiment-dashboard {
  .header {
    @include header(auto);
  }

  .row {
    @include container(row);

    .subheader-card {
      @include card($width: 50%);

      h4 {
        margin-top: 1em;
      }
    }
  }

  #variants {
    @include container(row);

    .variant-details {
      @include card($width: 33%);
    }
  }

  #chart-container {
    @include card($height: 600px, $width: 100%);
    box-sizing: border-box;

    #toggles {
      button {
        @include button($tang);
        border-radius: 4px;
      }

      .button-primary {
        @include primary-button;
        border-radius: 4px;
      }
    }

    #experiment-chart {
      @include card($height: 500px, $width: 95%, $background-color: $black);
      padding: 0 1em;
      margin: 1em 0;
    }
  }
}
