@import "variables";
@import "mixins";

#experiment-list {
  @include container(column, flex-start);

  #new-experiment {
    margin: 2em 0;

    .button-primary {
      @include primary-button;
    }
  }

  #spacer {
    margin: 2em 0;
  }

  .list-item {
    @include card(120px, 90%);
    @include container(row);
    @include clickable;

    .name {
      @include card(auto, 50%);
      margin-bottom: 0;
    }

    .info {
      @include container(column);
      @include card(auto, 30%);
      margin: 1.5em 0 0 0;
    }
  }
}
