@import "variables";
@import "mixins";

#experiment-dashboard {
  .header {
    @include header(auto);
  }

  .row {
    @include container(row);

    .subheader-card {
      @include card(auto, 50%);
      h4 {
        margin-top: 1em;
      }
    }
  }

  #variants {
    @include container(row);

    .variant-details {
      @include card(auto, 33%);
    }
  }

  #chart-container {
    @include card(600px, 100%);

    #toggles {
      button {
        @include button($tang);
        border-radius: 4px;
      }

      .button-primary {
        @include primary-button;
        border-radius: 4px;
      }
    }

    #experiment-chart {
      @include card(500px, 95%, $black);
      padding: 0 1em;
      margin: 1em 0;
    }
  }
}
