@import "variables";
@import "mixins";

.experimentList {
  @include flexbox-container(column, flex-start);
}

.experimentList-newExperimentButtonContainer {
  margin-bottom: 2em;
}

.experimentList-listItem {
  @include card($height: 120px, $width: 90%);
  @include flexbox-container(row);
  @include clickable;
}

.experimentList-listItemName {
  @media (max-width: $mobile-width) {
    @include card($width: 80%);
    margin-bottom: 0;
  }

  @include card($width: 50%);
  margin-bottom: 0;
}

.experimentList-listItemInfo {
  @include flexbox-container(column);
  @include card($width: 30%);
  margin: 1.5em 0 0 0;

  @media (max-width: $mobile-width) {
    display: none;
  }
}
