@import "variables";
@import "mixins";

#experiment-list {
  @include container(column, flex-start);

  #header {
    @include container(row);
    @include header;
    width: 80%;

    h1 {
      margin: 0;
    }
  }

  #new-experiment {
    margin: 2em 0;

    .button-primary {
      @include primary-button;
    }
  }

  #spacer {
    margin: 2em 0;
  }

  .list-item {
    @include card(120px, 80%);
    @include container(row);
    @include clickable;

    .name {
      @include card(auto, 50%);
    }

    .info {
      @include container(column);
      @include card(auto, 30%);
    }
  }
}
