.shared-form {
  padding: 4em 1em;
  background-color: $smoke;
  border-radius: 16px;
  color: $grey;
  text-align: center;
  width: 50%;

  @media (max-width: $mobile-width) {
    width: 80%;
  }

  input {
    line-height: 2em;
    background-color: $black;
    border-radius: 16px;
    border: none;
    margin-bottom: 1em;
    text-align: center;
  }

  input, button {
    width: 50%;

    @media (max-width: $mobile-width) {
      width: 80%;
    }
  }

  input[type="submit"] {
    @include primary-button;
  }
}
