@import "mixins";
@import "variables";

#home-container {
  @include container(row);

  .card {
    @include card(280px, 280px, $smoke);
    @include container(column);

    i {
      color: $tang;
      margin-bottom: 1em;
      font-size: 2em;
    }

    p {
      font-size: 1.25em;
    }
  }
}
