@import "variables";

.row-container {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.big-card {
  border-radius: 16px;
  padding: 1em;
  margin-right: 2em;
  margin-bottom: 2em;
  background-color: $smoke;

  height: 280px;
  width: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    border: 1px solid $tang;
  }

  i {
    color: $tang;
    margin-bottom: 1em;
    font-size: 2em;
  }

  p {
    font-size: 1.25em;
  }
}
