@import "variables";

@mixin container($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;

  @if $direction == column {
    justify-content: center;
  }
}

@mixin card($height, $width, $background-color: $smoke) {
  display: block;
  border-radius: 16px;
  padding: 1em;
  margin-bottom: 2em;
  &:not(:last-child) {
    margin-right: 2em;
  }

  background-color: $background-color;

  height: $height;
  width: $width;

  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

@mixin clickable {
  &:hover {
    border: 1px solid $tang;
  }
}

@mixin circle($background-color) {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 1em;
  background-color: $background-color;
}

@mixin header {
  border-radius: 16px;
  border: 5px solid $smoke;
  padding: 0.25em;
  margin-top: 2em;
}
