@import "mixins";
@import "variables";

navbar {
  @media (max-width: $mobile-width) {
    @include container(row, $justify-content: space-between);
  }

  height: 100%;
  min-height: 100vh;
  background-color: $smoke;

  .nav-item {
    @media (min-width: $mobile-width) {
      @include card($height: 40px, $width: 160px, $background-color: $black)
      @include clickable;
    }

    margin: 1em;

    .circle-container{
      @include container(row)
      margin-top: 0.25em;

      @media (max-width: $mobile-width) {
        display: none;
      }

      .experiments-link-icon {
        @include circle($tang);
      }

      .settings-link-icon {
        @include circle($purple);
      }

      .circle-text {
        display: block;
      }
    }

    .user-icon {
      font-size: 1.5em
    }
  }

  #hyp-logo {
    @include container(row)

    margin: 1em 0 0 1em;
    padding: 1em;

    #hyp-lightning-bolt {
      @include logo;
    }

    #hyp-logo-text {
      @media (max-width: $mobile-width) {
        display: none;
      }
    }
  }
}
