@import "variables";

navbar {
  max-width: 25%;
  min-height: 100%;
  height: 100%;

  position: absolute;
}

navbar .nav-item {
  margin: 1em 2em;
  display: flex;
  flex-direction: row;
  background-color: $black;
  border-radius: 20px;
  height: 40px;
  width: 160px;
  &:hover {
    border: 1px solid $tang;
  }
}
