@import "variables";
@import "mixins";

#settings {
  #user-info {
    @include card(auto, 90%);
    @include non-clickable;

    h5 {
      display: inline;
      vertical-align: middle;

      i {
        margin-right: 0.25em;
      }
    }
  }

  #actions {
    @include container(row);
    align-items: unset;

    #sign-out {
      @include primary-button;
      margin: 0 1em 0 0;
    }

    #api-keys {
      @include button;
    }
  }
}
