$purple: #8138FE;
$tang: #FF8F37;
$green: #46C25C;
$smoke: #202020;
$haze: #5C5C5C;
$dark-red: #552620;
$grey: #AAAAAA;
$black: #131313;
$white: #FFFFFF;
$red: #8F130A;

$dark-purple: darken($purple, 25%);
$dark-tang: darken($tang, 25%);
$light-smoke: lighten($smoke, 50%);

$mobile-width: 1024px;
