{% extends "hyp/layout.html" %}
{% block content %}
  <h3 class="header">Welcome to Hyp</h3>

  {% if form.errors %}
  {% for field in form %}
      {% for error in field.errors %}
          <strong class="error">{{ error|escape }}</strong>
      {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
        <strong class="error">{{ error|escape }}</strong>
  {% endfor %}
  {% endif %}

  <form id="login-form" action="{% url 'account_login' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    {{ field }}<br>
    {% endfor %}
    <input type="submit" value="Sign in">
  </form>
{% endblock %}
