{% extends "hyp/layout.html" %}
{% block content %}
  {% if form.errors %}
  {% for field in form %}
      {% for error in field.errors %}
          <strong class="error">{{ error|escape }}</strong>
      {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
        <strong class="error">{{ error|escape }}</strong>
  {% endfor %}
  {% endif %}

  <div class="authFormContainer">
    <form class="shared-form" action="{% url 'account_login' %}" method="post">
      <div class="authForm-logoContainer">
        <div class="shared-logoIcon">
        {% include "hyp-lightning-bolt.svg" %}
        </div>
        <h5 class="authForm-logoText">hyp</h5>
      </div>
      <div class="authForm-inputWrapper">
        {% csrf_token %}
        {% for field in form %}
        {{ field }}<br>
        {% endfor %}
      </div>
      <input type="submit" value="Sign in">
      

      <br>
      <a class="authForm-signUp" href="{% url 'account_signup' %}">
        Or sign up
      </a>
    </form>
  </div>
{% endblock %}
