{% extends "hyp/layout.html" %}
{% block content %}
  {% if form.errors %}
  {% for field in form %}
      {% for error in field.errors %}
          <strong class="error">{{ error|escape }}</strong>
      {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
        <strong class="error">{{ error|escape }}</strong>
  {% endfor %}
  {% endif %}

  <form class="authForm" action="{% url 'account_signup' %}" method="post">
    <div class="authForm-logoContainer">
      <div class="authForm-logoIcon">
      {% include "hyp-lightning-bolt.svg" %}
      </div>
      <h5 class="authForm-logoText">hyp</h5>
    </div>

    {% csrf_token %}
    {% for field in form %}
    {{ field }}<br>
    {% endfor %}
    <input type="submit" value="Sign up">
  </form>
{% endblock %}
