{% extends "hyp/layout.html" %}
{% block content %}
  <h1>Get Hyp'd!</h1>
  <p>
    Coming soon: an API for product experimentation. Explore different variations
    of your product in a low-risk, intuitive way. Forget A/B testing. Hyp can:
  </p>
  <ul>
    <li>
      Adjust traffic flow in real time to reward better performing variants.
      No confusing sample size calculations. No traffic wasted on poorly
      performing variants until an experiment is complete. The worse the variant
      performs the less traffic it gets, so you can confidently experiment even
      on mission-critical pieces of your product.
    </li>

    <li>
      Run experiments with as many variations as you like.
    </li>

    <li>
      Allow you to specify the value of actions taken within your product, so
      you can optimize for total value, not just conversion rate.
    </li>

    <li>
      Report results in an intuitive yet statistically valid way. You won't
      need to remember the definition of a p-value or worry about statistical
      significance. At the same time, detailed metrics are always available for
      the statistically inclined.
    </li>

    <li>
      Stop experiments at any point without invalidating the results.
    </li>
  </ul>

  <div style="width:100%;height:0;padding-bottom:56%;position:relative;">
    <iframe src="https://giphy.com/embed/iehUV10TIJMQIjp38o" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen>
    </iframe>
  </div>
{% endblock %}
