{% extends "hyp/layout.html" %}
{% block content %}
  <div id="settings">
    <h3 class="header">Settings</h3>

    <div id="user-info">
      <h5><i class="fas fa-user"></i> {{ user.email }}</h5>
    </div>

    <div id="actions">
      {% if user.is_authenticated %}
        <form action="{% url 'account_logout' %}" method="post">
         {% csrf_token %}
         {{ form.as_p }}

         <button id="sign-out">
           <input name="logout" type="submit" value="Sign out">
         </button>
        </form>
      {% endif %}

      <a href={% url "api_keys" %}>
        <button id="api-keys" >Manage API keys</button>
      </a>
    </div>
  </div>
{% endblock %}
