{% load static %}
<html>
<head>
<title>Hyp</title>

<meta charset='utf-8' http-equiv='Content-type' content='text/html'>
<meta name='description' content='The API for intuitive, low-risk product experimentation. Forget A/B testing.'>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
<meta name='author' content='Hyp'>
<meta name='robots' content='index'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta property='og:title' content='Hyp'>
<meta property='og:image' content=''>
<meta property='og:logo' content=''>
<meta property='og:url' content='https://onhyp.com'>
<meta property='og:description' content='The API for intuitive, low-risk product experimentation. Forget A/B testing.'>
<meta property='twitter:site' content='https://onhyp.com'>
<meta property='twitter:creator' content='@hyp_api'>
<meta property='twitter:title' content='Hyp'>
<meta property='twitter:description' content='The API for intuitive, low-risk product experimentation. Forget A/B testing.'>
<meta property='twitter:card' content='summary_large_image'>

<link rel="stylesheet" media="all" href={% static "css/normalize.css" %} />
<link rel="stylesheet" media="all" href={% static "css/skeleton.css" %} />
<link rel="stylesheet" media="all" href={% static "css/application.css" %} />
<script async defer src="https://kit.fontawesome.com/936caaa440.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--
  let's copy Bonusly and do a simple horizontal nav with buttons for
  signup / signin on the landing pages, and then a vertical nav with more
  options for the logged-in pages
  -->
  <navbar>
    <ul>
      <li tabindex="0">
        <a href={% url "home" %}>
          <i class="fas fa-home"></i> Home
        </a>
      </li>

      {% if user.is_authenticated %}
        <li tabindex="0">
          <a href={% url "profile" %}>
            <i class="fas fa-user"></i> Profile
          </a>
        </li>

        <li tabindex="0">
          <a href={% url "logout" %}>
            <i class="fas fa-door-closed"></i> Sign out
          </a>
        </li>
      {% else %}
        <li tabindex="0">
          <a href={% url "login" %}>Sign in</a>
        </li>
      {% endif %}
    </ul>
  </navbar>

  <main role="main" class="container">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
