{% load static %}
<html>
<head>
<title>Hyp</title>

<meta charset='utf-8' http-equiv='Content-type' content='text/html'>
<meta name='description' content='The API for intuitive, low-risk product experimentation. Forget A/B testing.'>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
<meta name='author' content='Hyp'>
<meta name='robots' content='index'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta property='og:title' content='Hyp'>
<meta property='og:image' content=''>
<meta property='og:logo' content=''>
<meta property='og:url' content='https://onhyp.com'>
<meta property='og:description' content='The API for intuitive, low-risk product experimentation. Forget A/B testing.'>
<meta property='twitter:site' content='https://onhyp.com'>
<meta property='twitter:creator' content='@hyp_api'>
<meta property='twitter:title' content='Hyp'>
<meta property='twitter:description' content='The API for intuitive, low-risk product experimentation. Forget A/B testing.'>
<meta property='twitter:card' content='summary_large_image'>

<link rel="stylesheet" media="all" href={% static "css/vendor/normalize.css" %} />
<link rel="stylesheet" media="all" href={% static "css/application.css" %} />
<script async defer src="https://kit.fontawesome.com/936caaa440.js" crossorigin="anonymous"></script>

<!-- favicon stuff from realfavicongenerator.net -->
<link rel="apple-touch-icon" sizes="180x180" href={% static "favicons/apple-touch-icon.png" %}>
<link rel="icon" type="image/png" sizes="32x32" href={% static "favicons/favicon-32x32.png" %}>
<link rel="icon" type="image/png" sizes="16x16" href={% static "favicons/favicon-16x16.png" %}>
<link rel="manifest" href={% static "favicons/site.webmanifest" %}>
<link rel="mask-icon" href={% static "favicons/safari-pinned-tab.svg" %} color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
{% block head_tags %}
{% endblock %}
</head>

<body>
  <navbar>
    <a href={% url "home" %}>
      <div id="hyp-logo">
        {% include "hyp-lightning-bolt.svg" %}
        <h5>hyp</h5>
      </div>
    </a>

    <a class="nav-item" href={% url "experiments" %}>
      <div class="circle-container">
        <span class="experiments-link-icon"></span>
        <span class="circle-text">Experiments</span>
      </div>
    </a>

    <a class="nav-item" href={% url "settings" %}>
      <div class="circle-container">
        <span class="settings-link-icon"></span>
        <span class="circle-text">Settings</span>
      </div>
    </a>
  </navbar>

  <main role="main" class="container">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
